/**
 * File: global.css
 * Type: Global CSS Styles
 * Author: mathteixeira55
 * Description: Global CSS styles and imports for the SkillsLadder application
 * Date: 2024-07-13
 * License: MIT
 * Version: 1.0
 */

@import './variables.css';

/* Add any global styles here */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

/* --- Normal Buttons --- */
.btn-primary {
  border-radius: 15px;
  border: none;
  color: white;
  background-color: var(--skillsladder-blue);
}

.btn-secondary {
  border-radius: 15px;
  border: none;
  color: white;
  background-color: var(--skillsladder-orange);
}

.btn-primary:hover,
.btn-secondary:hover {
  opacity: 0.8;
}

/* --- Outline Buttons --- */
.btn-outline-primary {
  border-radius: 15px;
  color: var(--skillsladder-blue);
  border-color: var(--skillsladder-blue);
}

.btn-outline-primary:hover {
  border-radius: 15px;
  color: white;
  background-color: var(--skillsladder-blue);
  border-color: var(--skillsladder-blue);
}

.btn-outline-secondary {
  border-radius: 15px;
  color: var(--skillsladder-orange);
  border-color: var(--skillsladder-orange);
}

.btn-outline-secondary:hover {
  border-radius: 15px;
  color: white;
  background-color: var(--skillsladder-orange);
  border-color: var(--skillsladder-orange);
}