/**
 * File: ChatBody/styles.module.css
 * Type: CSS Module
 * Author: mathteixeira55
 * Description: Styles for the ChatBody component
 * Date: 2024-07-13
 * License: MIT
 * Version: 1.0
 */

@import '../../../styles/variables.css';

/* Main chat body container */
.chatBody {
  padding: 1vh 1vw;
  flex: 1;
  overflow-y: auto;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

/* Custom scrollbar styles */
.chatBody::-webkit-scrollbar {
  width: 8px;
}

.chatBody::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
}

.chatBody::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover-color);
}